body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: grid;
  
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1.5vh);
  background-color: rgb(192, 192, 192);
  border-bottom: solid 1px black;
}

button {
  outline: none;
}

.buttonsSection {
  grid-column: 5 / 11;
  grid-row: 1 / 11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homeBox {
  grid-column: 2 / 5;
  grid-row: 1 / 11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homeButton {
  grid-row: 1 / 11;
  grid-column: 2 / 5;
  font-size: 30px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}


.nav, .dropbtn {
  margin-left: 15px;
  width: 125px;
  color: black;
  text-decoration: none;
}

.teamsButton:hover {
  background-color: lightgray;
}

.isActive {
  cursor: default;
  background-color: rgb(161, 161, 161);
}

.isActive:hover {
  transform: none;
  background-color: rgb(161, 161, 161);
}

@media only screen and (max-width: 800px) {
  .buttonsSection {
    grid-column: 7 / 9;
  }
  
  .homeBox {
    grid-column: 1 / 5;
  }
  
  .homeButton {
    font-size: 25px;
  }
  
  .dropbtn {
    font-size: 18px;
    width: 100px;
  }
  
}

@media only screen and (max-width: 600px) {
  .dropbtn {
    font-size: 15px;
    width: 75px;
  }

  .homeButton {
    font-size: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .dropbtn {
    font-size: 14px;
    width: auto;
    margin-left: 10px;
  }

  .homeButton {
    font-size: 20px;
  }

  .teamDrop {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .dropbtn {
    font-size: 12px;
    width: auto;
    margin-left: 0px;
    border: solid 1px black;
  }

  .homeButton {
    font-size: 18px;
  }

  .teamDrop {
    margin-left: 0px;
  }
}